h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, Roboto, Helvetica, sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  // top margins are the next larger font size to help with information association
  margin-top: ($headingSize2 * $baseFontRatio);
}

h3 {
  // top margins are the next larger font size to help with information association
  margin-top: ($headingSize3 * $baseFontRatio);
}

h4 {
  // top margins are the next larger font size to help with information association
  margin-top: ($headingSize4 * $baseFontRatio);
}

h5 {
  // top margins are the next larger font size to help with information association
  margin-top: ($headingSize5 * $baseFontRatio);
}

h6 {
  // top margins are the next larger font size to help with information association
  margin-top: ($headingSize6 * $baseFontRatio);
}