---

title: "Graphic Design | "

---

<section class="c-section c-project">
  <div class="c-section__maxWidth">
    <h2>Graphic Design</h2>
    <div class="masonry">
      <div class="masonry__brick">
        <img src="/assets/images/chase-race.jpg" alt="Chase Race Invitation" class="c-project__image" />
        <p class="c-caption">Flyer for the 2018 JPMorgan Chase Corporate&nbsp;Challenge.</p>
      </div>
      <div class="masonry__brick">
        <img src="/assets/images/director-quote.jpg" alt="Employee Quote TV Slide" class="c-project__image" />
        <p class="c-caption">TV slide design for an employee's favorite memory, themed for our company's employee appreciation&nbsp;event.</p>
      </div>
      <div class="masonry__brick">
        <img src="/assets/images/guac-off.jpg" alt="Guac Off Event TV Slide" class="c-project__image" />
        <p class="c-caption">TV slide for the company's annual Guac&nbsp;Off&nbsp;event.</p>
      </div>
      <div class="masonry__brick">
        <img src="/assets/images/halloween-party.jpg" alt="Halloween Party TV Slide" class="c-project__image" />
        <p class="c-caption">TV slide for the company's annual Halloween&nbsp;Party.</p>
      </div>
      <div class="masonry__brick">
        <img src="/assets/images/team-bright-side.jpg" alt="Team Bright Side TV Slide" class="c-project__image" />
        <p class="c-caption">TV slide for the company's charity triathlon&nbsp;team.</p>
      </div>
      <div class="masonry__brick">
        <img src="/assets/images/vail-employee-handbook.jpg" alt="Vail Employee Handbook Sample" class="c-project__image" />
        <p class="c-caption">Sample of the Vail Employee Handbook&nbsp;design.</p>
      </div>
    </div>
  </div>
</section>