---

title: "Graphic Design | "

---

<section class="c-section c-project">
  <div class="c-section__maxWidth">
    <h2>Graphic Design</h2>
    <div class="o-flexGrid o-flexGrid--gutters">
      <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
        <img src="/assets/images/chase-race.jpg" alt="Chase Race Invitation" class="c-project__image" />
        <p class="c-caption">Flyer for the 2018 JPMorgan Chase Corporate Challenge.</p>
      </div>
      <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
        <img src="/assets/images/director-quote.jpg" alt="Employee Quote TV Slide" class="c-project__image" />
        <p class="c-caption">TV slide for an employee's favorite memory, themed for our company's employee appreciation event.</p>
      </div>
      <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
        <img src="/assets/images/guac-off.jpg" alt="Guac Off Event TV Slide" class="c-project__image" />
        <p class="c-caption">TV slide for the company's annual Guac Off event.</p>
      </div>
      <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
        <img src="/assets/images/halloween-party.jpg" alt="Halloween Party TV Slide" class="c-project__image" />
        <p class="c-caption">TV slide for the company's annual Halloween Party.</p>
      </div>
      <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
        <img src="/assets/images/team-bright-side.jpg" alt="Team Bright Side TV Slide" class="c-project__image" />
        <p class="c-caption">TV slide for a local charity's triathlon team.</p>
      </div>
      <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
        <img src="/assets/images/vail-employee-handbook.png" alt="Vail Employee Handbook Sample" class="c-project__image" />
        <p class="c-caption">Sample of the Vail Employee Handbook design.</p>
      </div>
    </div>
  </div>
</section>