---

title: "SAIC Work | "

---

<section class="c-section c-project">
  <div class="c-section__maxWidth">
    <h2>SAIC Work</h2>
    <div class="o-flexGrid o-flexGrid--gutters">
      <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
        <img src="/assets/images/chase-race.jpg" alt="Chase Race Invitation" class="c-project__image" />
        <p class="c-caption">Flyer for the 2018 JPMorgan Chase Corporate Challenge.</p>
      </div>
    </div>
  </div>
</section>