<section id="about" class="c-section c-about">
  <div class="c-section__maxWidth">
    <hr class="u-marginBottom--huge">
    <h2>About Me</h2>
    <p>
      My goal is always to make things easier for the user, whether it’s a product or a process. The user doesn't need to be a customer either, but could be my own teammate. I like setting standards and creating reusable components so our developers can worry less about the visual details, and finish features faster and easier, creating a brand-wide consistent&nbsp;experience.
    </p>
    <p>
      Outside of work, you can often find me spending time with my dog Emmett, cross-training at my local gym, DIYing, or hiking and camping during the nice months of&nbsp;Chicago.
    </p>

    <div class="u-textAlignCenter">
      <img src="assets/images/icon--hat.svg" class="c-icon c-icon--large u-marginTop--large" />
      <h3 class="u-marginTop--small">The Hats I Wear</h3>
      <div class="o-flexGrid o-flexGrid--gutters u-justifyContentSpaceAround">
        <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
          <h4 class="u-marginTop--0">UX Engineer</h4>
          <p>I use my developer background and design knowledge to bridge the gap between developers and designers. I enjoy being able to design and create products that are user-friendly and easy for developers to&nbsp;build.</p>
        </div>
        <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
          <h4 class="u-marginTop--0">SCSS Architect</h4>
          <p>I can make CSS/SCSS bend to my will and have created Arrow, a framework and architecture based on that. Arrow allows developers to apply styles without worrying about visual design or CSS pitfalls like overrides, while utilizing reusable, maintainable and scalable&nbsp;code.</p>
        </div>
        <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
          <h4 class="u-marginTop--0">Product Designer</h4>
          <p class="u-marginBottom--0@lapAndUp">My process starts with what the user's goals are and takes into account business requirements, UX principles and technical limitations to create a clean and enjoyable experience. No detail is too small, whether I'm creating user flows, mockups or designing the final&nbsp;product.</p>
        </div>
        <div class="o-flexGrid__cell u-1/2 u-1/1@palm">
          <h4 class="u-marginTop--0">Graphic Designer</h4>
          <p class="u-marginBottom--0">Even a great product won't attract customers if it's not well represented. It doesn't matter if it's a website or branding materials, I enjoy creating beautiful visual designs with precision and attention to detail that will withstand the test of&nbsp;time.</p>
        </div>
      </div>
    </div>
  </div>
</section>