<section id="contact" class="c-section u-textAlignCenter">
  <div class="c-section__maxWidth">
    <hr>
    <h2 class="u-marginTop--0">Contact</h2>
    <p>
      Let's get in touch!
    </p>
    <div class="o-flexGrid o-flexGrid--gutters u-justifyContentCenter u-alignItemsCenter">
      <div class="o-flexGrid__cell">
        <%= link_to( "", "mailto:jessica.patten17@gmail.com?subject=I Was Checking Out Your Portfolio", :class => "c-icon c-icon--email" ) %>
      </div>
      <div class="o-flexGrid__cell">
        <%= link_to( "", "https://linkedin.com/in/jessicapatten", :class => "c-icon c-icon--linkedin o-flexGrid__cell" ) %>
      </div>
    </div>
  </div>
</section>