<div class="c-section c-header">
  <a href="/" class="c-header__logo"></a>
  <div class="c-header__nav o-flexGrid u-alignItemsCenter">
    <%= link_to( "About", "#about", :class => "c-header__item" ) %>
    <%= link_to( "Work", "#work", :class => "c-header__item" ) %>
    <%= link_to( "Framework", "#framework", :class => "c-header__item" ) %>
    <%= link_to( "Contact", "#contact", :class => "c-header__item" ) %>
  </div>
</div>