<section class="c-section c-landing">
  <img src="assets/images/headshot-cirlce.png" class="c-landing__headshot" />
  <div class="u-margin">
    <h1 class="c-landing__title">I'm Jess&nbsp;Patten</h1>
    <h2 class="c-landing__subtitle u-headingSize4 u-marginTop--small">UX&nbsp;Engineer, Gym&nbsp;Addict, Dog&nbsp;Lover</h2>
  </div>
</section>