<section class="c-section u-marginBottom--huge">
  <div class="c-section__maxWidth o-flexGrid u-justifyContentFlexEnd">
    <a href="/#work" class="view-more-work"><span class="u-marginRight--small">View More Work</span><span>&rarr;</span></a>
  </div>
</section>