<section class="c-section u-marginBottom--huge">
  <div class="c-section__maxWidth o-flexGrid u-justifyContentFlexEnd">
    <a href="/#work" class="view-more-work">View More Work&nbsp;&nbsp;&rarr;</a>
  </div>
</section>