<section id="work" class="c-section">
  <div class="c-section__maxWidth">
    <hr>
    <h2 class="u-marginTop--0">Work</h2>
    <p>
      If you're a designer, you know how hard it is to try to stop thinking about design. It could be your latest project for work, artwork in your spare time, or any product you encounter. Here I've collected some of my work from both my recent projects and my graphic design certificate for viewing. All are at varying stages of completion, but that doesn't mean I've stopped thinking about&nbsp;them.
    </p>

    <h3 class="u-textAlignCenter">Projects</h3>
    <div class="o-flexGrid o-flexGrid--gutters u-justifyContentCenter">
      <div class="o-flexGrid__cell">
        <a href="/projects/arrow" class="c-card">
          <div class="c-card__image c-card__image--arrow"></div>
          <div class="c-card__name c-card__name--light">Arrow <br class="c-card__br">(SCSS Framework)</div>
        </a>
      </div>
      <div class="o-flexGrid__cell">
        <a href="/projects/racc-mobile" class="c-card">
          <div class="c-card__image c-card__image--raccMobile"></div>
          <div class="c-card__name">RACC&nbsp;Mobile Design</div>
        </a>
      </div>
      <div class="o-flexGrid__cell">
        <a href="/projects/racc-conversion" class="c-card">
          <div class="c-card__image c-card__image--conversion"></div>
          <div class="c-card__name">RACC&nbsp;Front-End Conversion</div>
        </a>
      </div>
      <div class="o-flexGrid__cell">
        <a href="/projects/persephony" class="c-card">
          <div class="c-card__image c-card__image--persephony"></div>
          <div class="c-card__name">Persephony</div>
        </a>
      </div>
      <div class="o-flexGrid__cell">
        <a href="/projects/handbook" class="c-card">
          <div class="c-card__image c-card__image--handbook"></div>
          <div class="c-card__name">Vail&nbsp;Employee Handbook</div>
        </a>
      </div>
      <div class="o-flexGrid__cell">
        <a href="/projects/graphic-design" class="c-card">
          <div class="c-card__image c-card__image--graphicDesign"></div>
          <div class="c-card__name">Graphic Design</div>
        </a>
      </div>
    </div>

    <h3 class="u-textAlignCenter">SAIC Graphic Design Certificate</h3>
    <div class="o-flexGrid o-flexGrid--gutters u-justifyContentCenter">
      <div class="o-flexGrid__cell">
        <a href="" class="c-card">
          <div class="c-card__image c-card__image--arrow"></div>
          <div class="c-card__name c-card__name--light">Arrow<br>(SCSS Framework)</div>
        </a>
      </div>
    </div>
  </div>
</section>