<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Jessica Patten <%= current_page.data.title %></title>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "site" %>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150753185-1');
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
