.u-textAlignCenter {
  text-align: center;
}

.view-more-work {
  margin: 0 $baseSpacingUnit--small;
  padding: $baseSpacingUnit--small;
  font-family: $font-heading;
  font-weight: 600;
}

.checkOutGithub {
  line-height: 1;

  &__link {
    font-weight: 400;
  }
}

.u-marginHorizontal--auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

li {
  padding-left: $baseSpacingUnit--small;
}

iframe {
  border: 1px solid $green--100;
  border-radius: 2px;
}

.mobile_viewer_app--fileLink--9l2Z1 {
  display: none;
}

.masonry {
  column-count: 2;
  column-gap: $baseSpacingUnit;

  @include mediaQuery(palm) {
    column-count: 1;
  }

  &__brick {
    display: inline-block;
    width: 100%;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $baseSpacingUnit--large;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  cursor: zoom-out;

  &__close {
    position: fixed;
    top: $baseSpacingUnit;
    right: $baseSpacingUnit--large;
    padding: $baseSpacingUnit;
    font-size: $headingSize3;
    line-height: 1;
    cursor: pointer;
  }

  &__image {
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }
}

[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: block;
}