// Literal Variables
$font-serif: Merriweather, Lora, serif;
$font-sansSerif: Raleway, Roboto, Helvetica, sans-serif;

// Semantic Variables
$font-heading: $font-sansSerif;
$font-body: $font-serif;

// Base Typography
$baseFontSize: 16px;
$baseFontRatio: 1.5;
$baseSpacingUnit: $baseFontSize;
$baseFontFamily: $font-body;
$baseHeading: 4;