// Literal Variables
$green--800: #009694;
$green--700: #007d7c;
$green: #004a49; // green--400
$green--200: #003332;
$light: #f5f5f5;

// Semantic Variables
$primary: $green--200;
$secondary: $green;

$color-body: $light;
$color-anchor: $color-body;