.c-header {
  height: $headerHeight;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $baseSpacingUnit--small $baseSpacingUnit--huge;
  background: $secondary;

  @include mediaQuery(palm) {
    height: $headerHeight--mobile;
    align-items: flex-start;
    padding: $baseSpacingUnit--small $baseSpacingUnit;
  }

  &__logo {
    height: ($baseLineHeight * $baseFontSize) + $baseSpacingUnit;
    width: ($baseLineHeight * $baseFontSize) + $baseSpacingUnit;
    background: url("../images/initials-logo.svg") center no-repeat;
    background-size: $baseSpacingUnit--large;
  }
  
  &__nav {
    @include mediaQuery(palm) {
      max-width: 210px;
    }
  }

  &__item {
    display: block;
    margin: 0 $baseSpacingUnit--small;
    padding: $baseSpacingUnit--small;
    font-family: $font-heading;

    @include mediaQuery(palm) {
      line-height: 1;
    }

    &:hover {
      opacity: 0.65;
    }
  }
}