.c-icon {
  display: inline-block;
  height: 22px;
  width: 22px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.25s;

  &:hover {
    background-size: 22px;
  }

  &--large {
    height: $baseSpacingUnit--huge;
    width: $baseSpacingUnit--huge;
  }

  &--linkedin {
    background-image: url('../images/icon--linkedin.svg');
  }

  &--email {
    background-image: url('../images/icon--email.svg');
  }
}