.c-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$headerHeight});
  min-height: 550px;
  padding-bottom: 10%;
  background: linear-gradient($secondary 0%, $primary 60%);

  @include mediaQuery(palm) {
    display: block;
    height: calc(100vh - #{$headerHeight--mobile});
    min-height: 400px;
    padding: $baseSpacingUnit--large $baseSpacingUnit;
    text-align: center;
  }

  &__headshot {
    max-width: 250px;
    margin: $baseSpacingUnit--huge;

    @include mediaQuery(portable) {
      max-width: 200px;
      margin: $baseSpacingUnit;
    }
  }

  &__title {
    line-height: 1;
  }
}