.c-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  padding: $baseSpacingUnit;
  border: 1px solid $green--100;
  overflow: hidden;

  &:hover {
    opacity: 1;

    & .c-card__image {
      filter:blur(5px);
    }

    & .c-card__name {
      color: $dark;
      text-shadow: 0 0 25px #ffffff;

      &--light {
        color: $light;
        text-shadow: 0 0 25px #000000;
      }
    }
  }

  @include mediaQuery(palm) {
    height: 150px;
    width: 150px;

    &__br {
      display: none;
    }
  }

  &__image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter 0.1s;

    &--arrow {
      background-image: url('../images/arrow-preview.png');
    }

    &--raccMobile {
      background-image: url('../images/racc-mobile-preview.png');
    }

    &--conversion {
      background-image: url('../images/racc-inventory3.png');
      background-position-y: 18%;
    }

    &--graphicDesign {
      background-image: url('../images/graphic-design-preview.jpg');
    }
  }

  &__name {
    z-index: 1;
    text-align: center;
    font-family: $font-heading;
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;
    transition: color 0.1s;
  }
}