/*------------------------------------*\
    #UTILITIES - SPACING-RESPONSIVE
\*------------------------------------*/

/**
 * Responsive utility classes to put specific spacing values onto
 * elements. Arrow will generate a suite of classes like:
 *
 *   .u-marginTop@palm {}
 *   .u-paddingLeft--large@lapAndUp {}
 *   .u-padding@desk {}
 */


@each $breakpointName, $breakpointValue in $breakpoints {
  @include mediaQuery($breakpointName) {
    @include spacing(\@#{$breakpointName});
  }
}
