/*------------------------------------*\
    #ELEMENTS - HEADINGS
\*------------------------------------*/

$baseHeading: 5 !default;

/**
 * Heading sizes 1–6.
 */

// Equivalent to `@include headingSizes($baseHeading, $baseFontRatio, $baseFontSize);`
$headingSize1: headingValue($baseFontRatio, $baseHeading - 1, $baseFontSize) !default;
$headingSize2: headingValue($baseFontRatio, $baseHeading - 2, $baseFontSize) !default;
$headingSize3: headingValue($baseFontRatio, $baseHeading - 3, $baseFontSize) !default;
$headingSize4: headingValue($baseFontRatio, $baseHeading - 4, $baseFontSize) !default;
$headingSize5: headingValue($baseFontRatio, $baseHeading - 5, $baseFontSize) !default;
$headingSize6: headingValue($baseFontRatio, $baseHeading - 6, $baseFontSize) !default;

h1 {
  font-size: $headingSize1;
}

h2 {
  font-size: $headingSize2;
}

h3 {
  font-size: $headingSize3;
}

h4 {
  font-size: $headingSize4;
}

h5 {
  font-size: $headingSize5;
}

h6 {
  font-size: $headingSize6;
}
