<div class="container o-flexGrid u-justifyContentCenter u-alignItemsCenter">
  <div class="o-flexGrid__cell">
    <h1>Hi, I'm Jessica Patten</h1>
    <h2>I'm creating something new.<br>Stay tuned!</h2>
    <div class="o-flexGrid u-justifyContentCenter">
      <h5><%= link_to( "Linkedin", "https://linkedin.com/in/jessicapatten", :class => "url") %></h5>
      <h5><%= link_to( "Email", "mailto:jessica.patten17@gmail.com", :class => "url") %></h5>
      <h5><%= link_to( "Resume", "/assets/documents/JessPatten-Resume-2019.pdf", :class => "url", target: "_blank") %></h5>
    </div>
  </div>
</div>
