<section class="c-landing">
  <img src="assets/images/headshot-cirlce.png" class="c-landing__headshot u-1/3 u-1/4@palm" />
  <div class="u-margin">
    <h1 class="c-landing__title">I'm Jess&nbsp;Patten</h1>
    <h2 class="u-headingSize5 u-marginTop--small">UX&nbsp;Engineer, SCSS&nbsp;Architect, Product&nbsp;Designer, Graphic&nbsp;Designer</h2>
  </div>
</section>